<div class="popup">
  <article>
    <div class="playerStatus">
      @for (color of colors; track color) {
        @if (getPlayerByColor(color)) {
          <div class="player {{ color }} connected">
            {{ getPlayerByColor(color)?.name }}
          </div>
        } @else {
          <div class="player {{ color }}">
            <!-- Jugador no conectado -->
          </div>
        }
      }
    </div>
    <button
      [disabled]="!canStartGame()"
      (click)="onStartGame()">
      Comenzar
    </button>
  </article>
</div>
