.chip {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 0px 8px #0000003d, 0px 0px 0px 1px #000000b8, inset 1px 3px 8px #ffffff42;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
  &::after {
    content: "";
    position: relative;
    width: 13px;
    height: 13px;
    display: block;
    border-radius: 50%;
    box-shadow: inset 0px -2px 5px rgb(255 255 255 / 7%);
    margin-left: 1px;
  }
  &.red {
    background: #b62f21;
    border-top: 1px solid #ef422f;
    border-bottom: 1px solid #8b2217;
    &::after {
      background: #ef422f;
      border: 1px solid #ef422f;
    }
  }
  &.blue {
    background: #2176af;
    border-top: 1px solid #2f9de6;
    border-bottom: 1px solid #175a86;
    &::after {
      background: #2f9de6;
      border: 1px solid #2f9de6;
    }
  }
  &.yellow {
    background: #b38c0b;
    border-top: 1px solid #ecba12;
    border-bottom: 1px solid #896b05;
    &::after {
      background: #ecba12;
      border: 1px solid #ecba12;
    }
  }
  &.green {
    background: #2176af;
    border-top: 1px solid #2f9de6;
    border-bottom: 1px solid #175a86;
    &::after {
      background: #2f9de6;
      border: 1px solid #2f9de6;
    }
  }
}
